#content-container
    #verify_number
    // BLOCK_UNSUPPORTED_BROWSER
    .container(itemscope='', itemtype='http://schema.org/WebPage')
        .row-fluid
    #sticky-div.none.mt-15.mb-25
        .row-fluid.mb-10.alert-info.container.ticker-container
            #sticky-note-container.ticker-box
                .pull-left.mt-10.mb-10.ml-20.mr-25.white.relative.w-30.h-38
                    span
                        i
                .pull-left.mt-5.ml-10.mr-10.fs-14
                    ul#sticky-note.newsticker(style='height: 40px; overflow: hidden;')
    script(type='text/javascript').
        var active_page 	= '';
    .container(itemscope='', itemtype='http://schema.org/WebPage')
        .row-fluid

    include ../3-modules/_banner-header.pug