footer.footer-wrapper
    .footer-main
        .container
            .clearfix
                .footer-item
                    h3.fs-14 Tokopedia
                    ul
                        li
                            a(href='http://new.aa-alam.ndvl/about') Tentang Kami
                        li
                            a(href='http://new.aa-alam.ndvl/careers') Karir
                        li
                            a(href='http://new.aa-alam.ndvl/blog', target='_blank') Blog
                        li
                            a(href='http://new.aa-alam.ndvl/brand-asset', target='_blank') Media Kit
                        li
                            a(href='http://new.aa-alam.ndvl/kisah-penjual', target='_blank') Kisah Penjual
                        li
                            a(href='http://new.aa-alam.ndvl/official-store', target='_blank') Toko Resmi
                        li
                            a(href='https://tiket.tokopedia.com/kereta-api/', target='_blank') Pesan Tiket Kereta
                        li
                            a(href='https://events.tokopedia.com/', target='_blank') Kegiatan Kami
                        li
                            a(href='http://new.aa-alam.ndvl/mitra-toppers?nref=mtfoot', target='_blank') Mitra Toppers
                .footer-item
                    h3.fs-14 Beli
                    ul
                        li
                            a(href='http://new.aa-alam.ndvl/bebas-penipuan') Belanja di Tokopedia
                        li
                            a(href='http://new.aa-alam.ndvl/panduan/beli') Cara Berbelanja
                        li
                            a(href='http://new.aa-alam.ndvl/bantuan/konfirmasi-verifikasi') Pembayaran
                        li
                            a(href='http://new.aa-alam.ndvl/bantuan/pemesanan-pengiriman-pembeli/pesanan-batal-dana-kemana') Pengembalian Dana
                        li
                            a(href='http://new.aa-alam.ndvl/hot') Hot List
                        li
                            a(href='http://new.rw-wibi.ndvl/pulsa/', target='_blank') Isi Ulang Pulsa
                .footer-item
                    h3.fs-14 Jual
                    ul
                        li
                            a(href='http://new.aa-alam.ndvl/jualan-online') Jualan di Tokopedia
                        li
                            a(href='http://new.aa-alam.ndvl/panduan/jual') Cara Berjualan
                        li
                            a.click-gold-footer(href='http://gold.rw-wibi.ndvl/') Gold Merchant
                        li
                            a(href='http://new.aa-alam.ndvl/iklan') Beriklan
                        li
                            a(href='http://new.aa-alam.ndvl/bantuan/cara-tarik-dana/tarik-dana') Penarikan Dana
                        li
                            a(href='https://seller.tokopedia.com/?nref=lsfoot', target='_blank') Seller Center
                .footer-item
                    h3.fs-14 Bantuan
                    ul
                        li
                            a(href='http://new.aa-alam.ndvl/terms.pl') Syarat dan Ketentuan
                        li
                            a(href='http://new.aa-alam.ndvl/privacy.pl') Kebijakan Privasi
                        li
                            a(href='http://new.aa-alam.ndvl/resolution-center') Pusat Resolusi
                        li
                            a(href='http://new.rw-wibi.ndvl/bantuan/') Hubungi Kami
                        li
                            a(href='http://new.aa-alam.ndvl/blog/2015/08/panduan-keamanan-tokopedia/') Panduan Keamanan
                .footer-item
                    .seal-account
                        .pci-seal.clearfix
                            h3.mb-10 Keamanan
                            a.mt-5(href='https://seal.controlcase.com/index.php?page=showCert&cId=3968489199', target='_blank')
                                img(src='http://rw-wibi.ndvl/img/footer/PCI_logo.gif', oncontextmenu='return false;')
                            br
                .footer-item
                    .box.box-white.box-shadow.text-center.p-10
                        a.app-badges(target='_blank', href='http://new.aa-alam.ndvl/mobile-apps')
                            .row-fluid.mt-10.ml-5
                                .span3
                                    img(alt='Tokopedia at Appstore', src='http://rw-wibi.ndvl/img/footer/mobile-icon.png')
                                .span9
                                    h3.fs-12.text-left.bold.mt-10.mb-0.lh-16 Dapatkan Aplikasi Mobile Tokopedia »
                                    .text-left.small-gray
                                        .pull-left IOS
                                        .ml-5.mr-5.mt-2.fs-18.pull-left.bull •
                                        .pull-left Android
                                        .clear-b
                        hr.mt-15.mb-15
                        h3.fs-12.mb-10 Ikuti Kami
                        div
                            a(target='_blank', href='https://www.facebook.com/tokopedia')
                                i.icon-facebook-circle.color-facebook.fs-20
                            a(target='_blank', href='https://twitter.com/tokopedia')
                                i.icon-twitter-circle.color-twitter.fs-20
                            a(target='_blank', href='https://plus.google.com/+tokopedia/posts')
                                i.icon-google-plus-circle.color-gplus.fs-20
                            a(target='_blank', href='https://www.pinterest.com/tokopedia/')
                                i.icon-pinterest-circle.color-pinterest.fs-20
                            a(target='_blank', href='http://instagram.com/tokopedia')
                                i.icon-instagram-circle.color-instagram.fs-20
    .container.footer-additional
        .row-fluid
            .span4
                img.mr-5(src='http://rw-wibi.ndvl/img/footer/toped.png', width='40', alt='Tokopedia Logo')
                .inline-block.va-middle
                    small.muted © 2009-2017, PT Tokopedia 
                    br
                    small.muted Server process time: 2.059 secs.
            .span4.text-center
            .span4
                .row-fluid
                    .span5.pull-right
                        .btn-group.pull-right
                            a.btn.btn-switch.btn-small.active
                                small Indonesia
                            a#lang-en.btn.btn-switch.btn-small.switch-lang
                                small English
