// Google Tag Manager Development
noscript
    | <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KDL5SK&nojscript=true"height="0" width="0" style="display:none;visibility:hidden"></iframe>

script(type='text/javascript').
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KDL5SK');

// End Google Tag Manager Development

header.navbar.navbar-fixed-top(style='position: absolute;')
    .navbar-inner
        .container-header-full.clearfix
            .overlay
            .topbar-logo-wrapper
                a(href='http://new.aa-alam.ndvl/')
                    | Tokopedia
                    span.site-logo
            ul.topbar-nav.inline.pull-left.mr-15
                li.dropdown-hover.dropdown-topbar-category
                    a.dropdown-hover-toggle(href='#')
                        | Kategori
                        i.icon-chevron-down-alt.fs-14
                    .dropdown-menu
                        .holder-dropdown-menu.dropdown-category-thumb
                            .row-fluid
                                .span4
                                    ul
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/fashion-anak/?nref=chead')
                                                i.sprite-product-fashion-kid.sprite-cat
                                                span.title Fashion Anak
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/handphone-tablet/?nref=chead')
                                                i.sprite-product-phone-tablet.sprite-cat
                                                span.title Handphone & Tablet
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/gaming/?nref=chead')
                                                i.sprite-product-gaming.sprite-cat
                                                span.title Gaming
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/kesehatan/?nref=chead')
                                                i.sprite-product-health.sprite-cat
                                                span.title Kesehatan
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/fashion-muslim/?nref=chead')
                                                i.sprite-product-fashion-muslim.sprite-cat
                                                span.title Fashion Muslim s
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/fashion-muslim/?nref=chead')
                                                i.sprite-product-fashion-muslim.sprite-cat
                                                span.title Fashion Muslim
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/gogon/?nref=chead')
                                                i.sprite-product-fashion-man.sprite-cat
                                                span.title Fashion Pria s
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/fashion-aksesoris/?nref=chead')
                                                i.sprite-product-fashion.sprite-cat
                                                span.title Fashion & Aksesoris
                                .span4
                                    ul
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/souvenir-kado-hadiah/?nref=chead')
                                                i.sprite-product-gift.sprite-cat
                                                span.title Souvenir, Kado & Hadiah
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/makanan-minuman/?nref=chead')
                                                i.sprite-product-food-beverages.sprite-cat
                                                span.title Makanan & Minuman
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/office-stationery/?nref=chead')
                                                i.sprite-product-office-stationery.sprite-cat
                                                span.title Office & Stationery
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/olahraga/?nref=chead')
                                                i.sprite-product-sports.sprite-cat
                                                span.title Olahraga
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/komputer-aksesoris/?nref=chead')
                                                i.sprite-product-pc.sprite-cat
                                                span.title Komputer & Aksesoris
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/film-musik-game/?nref=chead')
                                                i.sprite-product-movies-games-music.sprite-cat
                                                span.title Film, Musik & Game
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/dapur/?nref=chead')
                                                i.sprite-product-kitchen-dining.sprite-cat
                                                span.title Dapur
                                .span4
                                    ul
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/otomotif/?nref=chead')
                                                i.sprite-product-automotive.sprite-cat
                                                span.title Otomotif
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/perawatan-bayi/?nref=chead')
                                                i.sprite-product-baby.sprite-cat
                                                span.title Perawatan Bayi
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/baru/?nref=chead')
                                                i.sprite-product-fashion-man.sprite-cat
                                                span.title Fashion Pria
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/buku/?nref=chead')
                                                i.sprite-product-books.sprite-cat
                                                span.title Buku
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/mainan-hobi/?nref=chead')
                                                i.sprite-product-toys-hobbies.sprite-cat
                                                span.title Mainan & Hobi
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/laptop-aksesoris/?nref=chead')
                                                i.sprite-product-notebook.sprite-cat
                                                span.title Laptop & Aksesoris
                                        li
                                            a(href='http://new.aa-alam.ndvl/p/fashion-wanita/?nref=chead')
                                                i.sprite-product-fashion-woman.sprite-cat
                                                span.title Fashion Wanita
                            .row-fluid.mt-20
                                .span12
                                    p.pull-left.font-bold.fs-13.mb-0 Produk Digital
                            .row-fluid
                                .span4
                                    ul
                                        li
                                            a(href='http://facebook.com/?nref=chead', target='_blank')
                                                i.sprite-product-installment-credit.sprite-digital-cat
                                                span.title Superman
                                                span.cat-new-label.mt-5 BARU
                                        li
                                            a(href='https://pulsa.tokopedia.com/?nref=chead', target='_blank')
                                                i.sprite-product-recharge.sprite-digital-cat
                                                span.title Pulsa
                                        li
                                            a(href='https://pulsa.tokopedia.com/token-listrik/?nref=chead', target='_blank')
                                                i.sprite-product-token-listrik.sprite-digital-cat
                                                span.title Listrik PLN
                                        li
                                            a(href='https://tiket.tokopedia.com/kereta-api/?nref=chead', target='_blank')
                                                i.sprite-product-train.sprite-digital-cat
                                                span.title Tiket Kereta Api
                                        li
                                            a(href='https://pulsa.tokopedia.com/paket-data/?nref=chead', target='_blank')
                                                i.sprite-product-data-plan.sprite-digital-cat
                                                span.title Paket Data
                                        li
                                            a(href='https://pulsa.tokopedia.com/bpjs-kesehatan/?nref=chead', target='_blank')
                                                i.sprite-product-bpjs.sprite-digital-cat
                                                span.title BPJS
                                .span4
                                    ul
                                        li
                                            a(href='https://pulsa.tokopedia.com/voucher-game/?nref=chead', target='_blank')
                                                i.sprite-product-game.sprite-digital-cat
                                                span.title Voucher Game
                                        li
                                            a(href='https://pulsa.tokopedia.com/saldo/?nref=chead', target='_blank')
                                                i.sprite-product-saldo.sprite-digital-cat
                                                span.title Saldo Tokopedia
                                        li
                                            a(href='https://pulsa.tokopedia.com/pdam/?nref=chead', target='_blank')
                                                i.sprite-product-pdam.sprite-digital-cat
                                                span.title Air PDAM
                                        li
                                            a(href='https://pulsa.tokopedia.com/angsuran/?nref=chead', target='_blank')
                                                i.sprite-product-installment-credit.sprite-digital-cat
                                                span.title Angsuran Kredit
                                        li
                                            a(href='https://pulsa.tokopedia.com/donasi/?nref=chead', target='_blank')
                                                i.sprite-product-donation.sprite-digital-cat
                                                span.title Donasi
                                        li
                                            a(href='https://pulsa.tokopedia.com/tv-kabel/?nref=chead', target='_blank')
                                                i.sprite-product-cable-tv.sprite-digital-cat
                                                span.title TV Kabel
                                .span4
                                    ul
                                        li
                                            a(href='https://tokopedia.com/kartu-kredit/?nref=chead', target='_blank')
                                                i.sprite-product-credit-card.sprite-digital-cat
                                                span.title Kartu Kredit
                                        li
                                            a(href='https://pulsa.tokopedia.com/pascabayar/?nref=chead', target='_blank')
                                                i.sprite-product-postpaid.sprite-digital-cat
                                                span.title Pascabayar
                                        li
                                            a(href='https://pulsa.tokopedia.com/telepon/?nref=chead', target='_blank')
                                                i.sprite-product-telephone.sprite-digital-cat
                                                span.title Telepon
                                        li
                                            a(href='https://www.tokopedia.com/streaming/?nref=chead', target='_blank')
                                                i.sprite-product-streaming.sprite-digital-cat
                                                span.title Streaming
                                                span.cat-new-label.mt-5 BARU
                                        li
                                            a(href='https://www.tokopedia.com/pgn/?nref=chead', target='_blank')
                                                i.sprite-digital-cat(class='.sprite-product-gas')
                                                span.title Gas PGN
                                                span.cat-new-label.mt-5 BARU
                                        li
                                            a(href='http://facebook.com/?nref=chead', target='_blank')
                                                i.sprite-product-installment-credit.sprite-digital-cat
                                                span.title Test
                                                span.cat-new-label.mt-5 BARU
                        .clearfix.all-cat-block
                            a.all-cat.btn-action(href='http://new.aa-alam.ndvl/p/?nref=chead') Semua Kategori
            .pull-right
                ul#b-nav.topbar-nav
                    li.dropdown-single
                        a(href='//accounts.aa-alam.ndvl/register/bridge') Daftar
                    li#iframe-login.dropdown-hover.dropdown-right.ml-15.mr-15
                        button#login-ddl-link.btn-login.dropdown-hover-toggle(data-toggle='dropdown', onclick='javascript:return false;') Masuk
                        ul#accounts-menu.dropdown-menu.dropdown-login(role='menu', aria-labelledby='dropdownMenu', style='')
                            li
                                input#accounts-url(type='hidden', name='accounts_url', value='//accounts.aa-alam.ndvl/login')
                                iframe#iframe-accounts(src='http://accounts.aa-alam.ndvl/authorize?client_id=1234&p=http%3A%2F%2Fnew.aa-alam.ndvl%2Fpenjual&redirect_uri=http%3A%2F%2Faccounts.aa-alam.ndvl%2Fappauth%2Fcode&response_type=code&state=eyJyZWYiOiJodHRwOi8vbmV3Lm5kdmwiLCJ1dWlkIjoid1VNZnM1bUFTb241VGNTVGxRd3VmT1pGbHViRENUeW9OSTR1eGV3amdEOFpVeWc0dHpJWmIxa0NfQTF5eFl1ZkdfTUVrWHh4a3o0RXN2VnZURkxJM2ExbnFET1cwblN0Z1RxSmlUSDFIcmY1MEdhQkk3ZFJGem84Y256aGRjVDgiLCJ0aGVtZSI6ImlmcmFtZSIsInAiOiJodHRwOi8vbmV3LmFhLWFsYW0ubmR2bC9wZW5qdWFsIn0&theme=iframe', style='height: 414px;')
                    li.dropdown-hover.dropdown-right
                        a.dropdown-hover-toggle.pr-10(href='javascript:void(0);')
                            i.sprite-header.sprite-header-expander
                        ul.dropdown-menu.bm-container(role='menu', aria-labelledby='dropdownMenu')
                            li.bm-item(data-label='Marketplace - Marketplace')
                                a(href='http://new.aa-alam.ndvl/')
                                    .bm-icon__wrapper
                                        .bm-icon-toped
                                    p.bm-icon__text Jual Beli Online
                                    span.clear-b
                            li.bm-item(data-label='Marketplace - Official Store')
                                a(target='_blank', href='http://new.aa-alam.ndvl/official-store')
                                    .bm-icon__wrapper
                                        .bm-icon-ofstore
                                    p.bm-icon__text Toko Resmi
                                    span.clear-b
                            li.bm-item(data-label='Marketplace - Digital Product')
                                a(href='http://new.aa-alam.ndvl/pulsa/', target='_blank')
                                    .bm-icon__wrapper
                                        .bm-icon-pulsa
                                    p.bm-icon__text Produk Digital
                                    span.clear-b
                            li.bm-item(data-label='Marketplace - Tiket')
                                a(href='https://tiket.tokopedia.com/', target='_blank')
                                    .bm-icon__wrapper
                                        .bm-icon-ticket
                                    p.bm-icon__text Tiket Kereta
                                    span.clear-b
                            li.bm-item(data-label='Marketplace - Help')
                                a(href='http://new.rw-wibi.ndvl/bantuan/', target='_blank')
                                    .bm-icon__wrapper
                                        .bm-icon-help
                                    p.bm-icon__text Bantuan
                                    span.clear-b
            input(type='hidden', name='unique_id', value='c966e2139b314db58d1326951640deb6')
            input(type='hidden', name='autocompleteDeleteIcon', value='http://rw-wibi.ndvl/img/search_autocomplete/delete-icon.png')
            input(type='hidden', name='image_router_url', value='http://devel-go.tkpd:3001/')
            form#navbar-search.navbar-search(action='http://new.aa-alam.ndvl/search', method='get')
                input(type='hidden', name='st', value='product')
                .search-parent-older
                    .searchform.search-parent
                        span.ui-helper-hidden-accessible(role='status', aria-live='polite')
                        i.icon-search-gray
                        span.ui-helper-hidden-accessible(role='status', aria-live='polite')
                        input#search-keyword.input-wrapper.ui-autocomplete-input(name='q', type='text', placeholder='Cari produk atau toko', autocomplete='off', value='')
                        #div_autocomplete
                            ul#ui-id-1.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all(tabindex='0', style='display: none;')
                        .cat-wrapper.permanent-active
                            .cat-result-wrapper
                                ul.inline.cat-result
                                    li.cat-result-toggle Semua Kategori
                                    li
                                        i.icon-chevron-down-alt.fs-14
                            select#cat-select.cat-select.absolute(name='sc', style='display: block;')
                                option(value='0') Semua Kategori
                                option.ml-10(value='78') Fashion Anak
                                option.ml-10(value='65') Handphone & Tablet
                                option.ml-10(value='1761') Gaming
                                option.ml-10(value='715') Kesehatan
                                option.ml-10(value='1760') Fashion Muslim s
                                option.ml-10(value='1653') Fashion Muslim
                                option.ml-10(value='1759') Fashion Pria s
                                option.ml-10(value='79') Fashion & Aksesoris
                                option.ml-10(value='54') Souvenir, Kado & Hadiah
                                option.ml-10(value='35') Makanan & Minuman
                                option.ml-10(value='642') Office & Stationery
                                option.ml-10(value='62') Olahraga
                                option.ml-10(value='297') Komputer & Aksesoris
                                option.ml-10(value='57') Film, Musik & Game
                                option.ml-10(value='983') Dapur
                                option.ml-10(value='63') Otomotif
                                option.ml-10(value='56') Perawatan Bayi
                                option.ml-10(value='1654') Fashion Pria
                                option.ml-10(value='8') Buku
                                option.ml-10(value='55') Mainan & Hobi
                                option.ml-10(value='288') Laptop & Aksesoris
                                option.ml-10(value='1655') Fashion Wanita
                        span.btn-search-wrapper
                            button.btn.new-btn-search(type='submit') Cari
