head
    script(async='', src='http://js.aa-alam.ndvl/js/shoplogin?id=641&callback=show_last_online&_=1500951099561')
    style(type='text/css').
        @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
    title Aqua | Tokopedia
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='title', content="andrew's shop - Pamulang | Tokopedia")
    meta(name='description', content="Belanja online aman dan nyaman dari andrew's shop - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa")
    meta(name='format-detection', content='telephone=no')
    link(rel='alternate', media='only screen and (max-width: 640px)', href='https://m.aa-alam.ndvl/penjual')
    link(rel='canonical', href='http://new.aa-alam.ndvl/penjual')
    link(rel='alternate', href='android-app://com.tokopedia.tkpd/https/www.tokopedia.com/penjual')
    link(rel='alternate', href='ios-app://1001394201/tokopedia/www.tokopedia.com/penjual')
    meta(property='og:title', content="andrew's shop - Pamulang | Tokopedia")
    meta(property='og:description', content="Belanja online aman dan nyaman dari andrew's shop - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa")
    meta(property='og:site_name', content='Tokopedia')
    meta(property='og:url', content='http://new.aa-alam.ndvl/penjual')
    meta(property='og:image', content='http://ecs7.tokopedia.net/img/cache/215-square/shops-1/2017/5/30/641/641_dc17b834-65b9-4d3c-99df-b9923fda9b35.jpg')
    meta(name='robots', content='noindex')
    link(href='https://plus.google.com/104285007928921240758', rel='publisher')
    meta(name='p:domain_verify', content='50de202304b80ee007bc5d73425457ba')
    meta(name='msvalidate.01', content='3104E882307BB6900F56D266DC8320F6')
    link(href='http://www.tokopedia.com/opensearch.xml', title='Tokopedia Search', type='application/opensearchdescription+xml', rel='search')

    // push notification
    link(rel='manifest', href='http://aa-alam.ndvl/scripts/manifest.json?v=1487054686')
    link(rel='shortcut icon', href='http://aa-alam.ndvl/img/favicon.ico?v=20140313')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-socialite.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-shop.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-slider.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-jquery.mCustomScrollbar.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-tab.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-form.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-popup-shop-fave.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/jquery-ui.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-bootstrap-short.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-global-short.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-global-responsive.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-sprite.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-new-button.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-box.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-autocomplete.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-jqModal.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-bubble.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-font-tokopedia-20140421.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/icheck.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/mobile-mrp.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-map_instant_courier.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-iframe-login.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-reputation.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/chartist.min.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/jssocials.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/jssocials-theme-flat.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-review-image-attachment.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/swiper.min.3.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-talk-addlinkproduct.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/plugins/ngDialog.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/plugins/ngDialog-theme-default.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-message-dialog.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/unify-modal.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-colorbox.css', type='text/css')
    link(rel='stylesheet', href='http://aa-alam.ndvl/css/dv3-shop-official.css', type='text/css')
    // - <link rel="stylesheet" href="http://new.aa-alam.ndvl/css/dv3-font-tokopedia-20140421-min.css?v=1497316105" type="text/css"/>

    //if lt IE 9
        script(src='http://aa-alam.ndvl/scripts/html5shiv.min.js?v=1487054686')
    script(type='text/javascript', async='', src='http://www.google-analytics.com/plugins/ua/ec.js')
    script(type='text/javascript', async='', src='http://www.google-analytics.com/analytics.js')
    script(async='', src='//www.googletagmanager.com/gtm.js?id=GTM-KDL5SK')
    script(type='text/javascript').
        var inbox_url   = "http://go.aa-alam.ndvl:3000/talk/v1/inbox";
        var talk_url    = "http://go.aa-alam.ndvl:3000/talk/v1";
        var base_v2_url = "http://go.aa-alam.ndvl:3000/talk/v2/";
        var ace_url    = "http://ace.aa-alam.ndvl/search/product/v3";
    script(type='text/javascript').
        var message_url                     = "http://go.aa-alam.ndvl:3000/message/v1";
        var message_v2_url                  = "http://go.aa-alam.ndvl:3000/message/v2";
        var etalase_url                     = "http://192.168.100.160:3002/v1/web-service/shop/get_etalase";
        var shop_info_url                   = "http://192.168.100.160:3002/v1/shop/";
    script(type='text/javascript').
        var kunyit_token_url = "http://go.aa-alam.ndvl:3000/token/v1";
    script(type='text/javascript').
        var ads_utm ={};
        ads_utm.campaign = "topads";
        ads_utm.source = "xsource";
        ads_utm.medium = "desktop";
        var ads_auth = {};
        ads_auth.user_id = 0;
        ads_auth.user_agent = "desktop";
        ads_auth.shop_id = 0;
        var ads_source = "xsource";
        var ads_right = "6";
        var ads_item = "12";
        var ads_ajax_go = "0";
        var ab_test = "";
        var product_ads_ajax_url = "http://new.aa-alam.ndvl/ajax/promo.pl";
        var product_ads_ajax_go = "http://192.168.100.160:8765";
        var product_dink_ajax_url = "http://new.aa-alam.ndvl/ajax/promo-na.pl";
        var shop_ads_ajax_url = "http://new.aa-alam.ndvl/ajax/promo.pl";
        var manage_ads_ajax_url = "http://new.aa-alam.ndvl/ajax/shop/manage-ad.pl";
        var pio_ads_queries_url = "http://54.169.251.177:8000/queries.json";
        var microsite_ads_url = "http://new.aa-alam.ndvl/iklan";
        var manage_ads_url = "http://new.aa-alam.ndvl/manage-ad.pl";
        var merlin_nf_recommendation = "https://merlin.tokopedia.com";
    script(type='text/javascript').
        self.AUTOCOMPLETE_SERVICE_URL   = "http://ace.gg-gio.ndvl/universe/v3";

    link(rel='dns-prefetch', href='//ecs12.tokopedia.net')
    link(rel='dns-prefetch', href='//ecs7.tokopedia.net')
    link(rel='dns-prefetch', href='//js.tokopedia.com')
    link(rel='dns-prefetch', href='//mojito.tokopedia.com')
    link(rel='dns-prefetch', href='//accounts.tokopedia.com')
    link(rel='dns-prefetch', href='//www.google-analytics.com')
    link(rel='dns-prefetch', href='//www.googletagmanager.com')
    script(type='text/javascript').
        var lp_url = "http://192.168.100.160:8005";
    script(type='text/javascript').
        var reputation_score_url = "http://go.aa-alam.ndvl:3000/reputation/v1/";
        var reputation_badge_off = "http://aa-alam.ndvl/img/badges-off.jpg";
    script(type='text/javascript').
        var gm_sidebar_url = "http://192.168.100.160:9001/v1/shopstats/shopscore/sum/";
        var s_id           = "0";
        var gold_sidebar_auth = "TKPD Tokopedia:nPPvhmqNywriueZBJgVokAN3W3o=";
        var gold_sidebar_date = "Tue, 25 Jul 2017 09:51:37 +0700";
        var gold_sidebar_md5  = "1234567890asdfghjkl";
    script(type='text/javascript').
        var sidebar_ads_ajax_go = "http://192.168.100.160:30194";
        var sidebar_microsite_ads_url = "http://new.aa-alam.ndvl/iklan";
        var ads_sidebar = {};
        ads_sidebar.user_id = 0;
        ads_sidebar.user_agent = "desktop";
        ads_sidebar.shop_id = 0;
        ads_sidebar.auth_date = "Tue, 25 Jul 2017 09:51:37 +0700";
        ads_sidebar.auth_d_deposit = "TKPD Tokopedia:IFk5oJVmCPmd12pTCLjHdc44nAw=";
        ads_sidebar.md5_d_deposit = "6204597df3decd562f8145de424d4f59";
    script.
        var host_tome = 'http://192.168.100.160:3002';
    script(type='text/javascript').
        var reputation_score_url = "http://go.aa-alam.ndvl:3000/reputation/v1/";
        var reputation_badge_off = "http://aa-alam.ndvl/img/badges-off.jpg";
    script(type='text/javascript').
        var shop_speed_host_url = "http://192.168.6.17";
    script(type='text/javascript').
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
        'event' : 'viewShopPage',
        'catalogInfo' : 641
        });
    script(type='text/javascript').
        var manage_shop_id = 0;
        var page_shop_id = 641;
        var wishlist = {
            products: {
                get: {
                     url:''
                },
                post: {url:'', signature:''}
            }
        };
    script(type='text/javascript').
        var search_ajax_product_url    = "http://ace.gg-gio.ndvl/search/v2.6/product";
        var search_ajax_product_url_v3 = "http://ace.gg-gio.ndvl/search/product/v3";
        var search_ajax_product_attribute_url = "http://ace.gg-gio.ndvl/search/product/attributes/v3";
        var search_ajax_catalog_url = "http://ace.gg-gio.ndvl/search/v1/catalog";
        var search_ajax_shop_url = "http://ace.gg-gio.ndvl/search/v1/shop";
        var spell_ajax_product_url = "http://ace.gg-gio.ndvl/search/v1/spell/product";
        var search_ajax_catalog_product_url = "http://ace.gg-gio.ndvl/search/v1/catalog/product";
        var search_ajax_catalog_price_range = "http://ace.gg-gio.ndvl/v1/price_range";
        var search_ajax_dynamic_attributes = "http://ace.gg-gio.ndvl/v1/dynamic_attributes";
        var domain_url = "http://new.aa-alam.ndvl";
        var mobile_domain_url = "http://m.aa-alam.ndvl";
        var gold_image_url = "http://aa-alam.ndvl/img/gold-active.png";
        var loading_product_image_url = "http://aa-alam.ndvl/img/mobile/default-img-prod.jpg";
        
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400', rel='stylesheet', type='text/css')
    script(type='text/javascript').
