script(src='http://aa-alam.ndvl/scripts/jquery-1.9.1-min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/lang_id.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/jquery-ui.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-bootstrap-min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/jquery.timeago_id-min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/json2-min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-jqModal-min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/jquery.autoresize-min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/jquery.selectBox.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/placeholder-fix.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-autocomplete.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/icheck.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/activate-icheck.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-clover.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-msisdn-verif.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-tokopedia.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-iframe-login.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/global.fingerprintjs2.1.4.2.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/global.fingerprint.authtables.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/history.adapter.jquery.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/history.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/history.html4.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/socialite.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-shop-head.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/jquery.price_format.1.8.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-jquery.mCustomScrollbar.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-jquery.mousewheel.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/moment-promo.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/typeahead.bundle.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/select2.min.4.0.2.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-manage-promo.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-datepicker.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/jquery.timepicker.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/chartist.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-shop-reputation.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-shop-last-active.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/jssocials.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-product-sharing-widget.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/swiper-3.3.0.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-review-image-attachment.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-shop-reputation-badge.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/angular.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/angular-sanitize.min.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/controllers/message.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/services/message.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/plugins/ngDialog.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/plugins/angular-recaptcha.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-wishlist-product-action.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-shop-product.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-shop-product-template.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-shop-etalase-menu.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/jquery.colorbox.js', type='text/javascript')
script(src='http://aa-alam.ndvl/scripts/dv3-shop-official.js', type='text/javascript')
script(src='./assets/js/main.js', type='text/javascript');
script(type='text/javascript').
    var lastOnlineUrl   = 'http://js.aa-alam.ndvl/js/shoplogin?id=641';
script(type='text/javascript').
    var env             = "development";var shop_status     = 1;var is_qa           = 0;var just_open       = 0;
script(type='text/javascript').
    image_uri_base_repsys = "http://aa-alam.ndvl/img/repsys/";var ss1 = '{"url_path" : "/cube/shop_speed_daily/aggregate","qs" : "cut=shop_id:641|finish_date:20170625-","content_md5" : "7ce27cb87593426571feaced42f40943","date" : "Tue, 25 Jul 2017 11:00:33 +0700","req_method" : "GET","secret_key" : "web_service_v4","hmac_key" : "p7lIu6ZaBv6Bd0NeiW4Iod85Q/8"}';var ss3 = '{"url_path" : "/cube/shop_speed_daily/aggregate","qs" : "cut=shop_id:641|finish_date:20170426-","content_md5" : "cb4e68e12e8825c55b8cf172dfb5a638","date" : "Tue, 25 Jul 2017 11:00:33 +0700","req_method" : "GET","secret_key" : "web_service_v4","hmac_key" : "qTcPB9lJMSl2zKlp8ZlYpMgrqDI"}';var ss12= '{"url_path" : "/cube/shop_speed_daily/aggregate","qs" : "cut=shop_id:641|finish_date:20160725-","content_md5" : "2a3d72f97f658e9de6bc31b23b62e5cb","date" : "Tue, 25 Jul 2017 11:00:33 +0700","req_method" : "GET","secret_key" : "web_service_v4","hmac_key" : "YkX4nJei8JIaJb5OTU7TCwWUuFc"}';
script.
    window.dataLayer = window.dataLayer || [];dataLayer.push({'shopId' : 641,'shopType' : 'official_store'});
script(type='text/javascript').
    shop_stats_ajax_script = "http://devel-go.tkpd:777/shopstats/check?sid=641";
script(type='text/javascript').
    var env             = "development";var full_domain     = "new.aa-alam.ndvl";var is_allow_manage = (0 ? 0 : 0);var default_sort    = (2 ? 2 : 1);var current_sort    = 2;var shop_status     = 1;var just_open       = 0;var is_qa           = 0;
script(type='text/javascript').
    var check_ios = false;check_ios = ( navigator.userAgent.match(/iPad|iPhone/gi) ? true : false );if(check_ios == true){var frame = document.createElement('iframe');frame.src = 'tokopedia://penjual';frame.style.display = 'none';document.body.appendChild(frame);setTimeout(function() { document.body.removeChild(frame); }, 4);}
    
img.none(src='http://accounts.aa-alam.ndvl/marketplace/pixel')
